@model Inspired.Web.ViewModel.MaterialViewModel
@{
    ViewBag.Title = "Create Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- DataTables CSS -->
<link href="~/Content/DataTables-1.10.1/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.1/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.1/dataTables.tableTools.js"></script>
<h2>Create Material</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Material.Code, new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.HiddenFor(m=>m.Material.Id)
                @Html.TextBoxFor(m => m.Material.Code, new { @class = "form-control", placeholder = "Item code" })
                @Html.ValidationMessageFor(m => m.Material.Code)
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-2">
                @Html.LabelFor(m => m.Material.Description, new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Material.Description, new { @class = "form-control", placeholder = "Item description" })
                @Html.ValidationMessageFor(m => m.Material.Description)
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="nav nav-tabs" id="itemTabs">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav">
                            <li><a href="#Material" data-id="Material" data-toggle="tab">Material</a></li>
                            <li><a href="#Category" data-id="Category" data-toggle="tab">Categories</a></li>
                            <li><a href="#Specification" data-id="Specification" data-toggle="tab">Specification</a></li>
                            <li><a href="#Packaging" data-id="Packaging" data-toggle="tab">Packaging</a></li>
                            <li><a href="#Spares" data-id="Spares" data-toggle="tab">Spares</a></li>
                            <li><a href="#Alternate" data-id="Alternate" data-toggle="tab">Alternate/Relative</a></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="tabs" >
            <div class="tab-pane" id="Material" data-id="Material">
                @Html.Partial("_MaterialDetails")
            </div>
            <div class="tab-pane" id="Category" data-id="Category" >
               @Html.Partial("_MaterialCategory")
            </div>
            <div class="tab-pane" id="Specification" data-id="Specification">
                @Html.Partial("_MaterialSpecification")
            </div>
            <div class="tab-pane" id="Packaging" data-id="Packaging">
                @Html.Partial("_MaterialPackaging")
            </div>
            <div class="tab-pane" id="Spares" data-id="Spares">
                @Html.Partial("_MaterialSpares")
            </div>
            <div class="tab-pane" id="Alternate" data-id="Alternate">
                @Html.Partial("_MaterialAlternates")
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" id="btnSave" value="Save"  />
            </div>            
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/materialmaster")    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/antiforgerytoken")
    @Scripts.Render("~/scripts/app/customcompare.js")
}
<script language="javascript">

</script>