@model Inspired.Web.ViewModel.DocumentViewModel
@{
    ViewBag.Title = "DocumentUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DocumentUpload</h2>
@using (Html.BeginForm("DocumentUpload", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-2 col-sm-12 col-md-offset-2">
            Item
        </div>
        <div class="col-md-8 col-sm-12">
            @Html.DropDownListFor(model => model.Documents.Item_Id, Model.Items, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-sm-12 col-md-offset-2">
            Document Path
        </div>
        <div class="col-md-8 col-sm-12">
            @Html.TextBoxFor(model => model.Documents.Document_Path, new { type = "file" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-sm-12 col-md-offset-2">
            Description
        </div>
        <div class="col-md-8 col-sm-12">
            @Html.TextBoxFor(model => model.Documents.Description, new { @class = "form-control", @placeholder = "Description" })
        </div>
    </div>    
    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            <br />
            @Html.ActionLink("Cancel", "DocumentList", null, new { @class = "btn btn-default" })&nbsp;
            <input type="submit" id="register" value="Upload" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/antiforgerytoken")
}


